<div ng-controller="mysensorsClientController"
     class="row"
     style="margin-top: 20px;">
    <div ui-grid-auto-resize
         ng-style="getTableHeight()"
         ui-grid="gridOptions">
    </div>
</div>