.root-body {
    background-image: url("../img/gameofgods.jpg");
    background-size: 100% auto;
}
.root-score-table {
    background-color: #000;background-color: rgba(0, 0, 0, 0.4);
    color: antiquewhite;
    font-size: x-large;
}

.container{
    padding: 0;
}

.table > thead > tr > th:first-child, .table > tbody > tr > th:first-child, .table > tfoot > tr > th:first-child, .table > thead > tr > td:first-child, .table > tbody > tr > td:first-child, .table > tfoot > tr > td:first-child {
    padding-left: 10px;
}