<div class="row" style="margin-top: 20px;">
    <table id="messageObjects" class="table">
        <tr>
            <th>DateTime</th>
            <th>NodeID</th>
            <th>ChildSensorID</th>
            <th>Device</th>
            <th>Room</th>
            <th>MessageType</th>
            <th>Ack</th>
            <th>Subtype</th>
            <th>Payload</th>
        </tr>
    </table>
    <ul id="messages"></ul>
</div>