.bottomRow,
.topRow {
	position: absolute;
	height: 45%;
	width: 100%;
	overflow: none;
	display: block;

	> .image {
		position: absolute;
		height: 100%;
		width: 100%;
		background-position: center; 
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0;
		transition: opacity 0.5s ease;

		transform: translateZ(0);
		-webkit-transform: translateZ(0);

		&.-active {
			opacity: 1;
		}
	}
}
.bottomRowText,
.topRowText {
	position: absolute;
	height: 5%;
	width: 100%;
	overflow: none;
	display: block;
	top: 45%;

	color: white;
	text-align: center;
	font-family: helvetica;
}

.bottomRow {
	top: 50%;
}
.bottomRowText {
	top: 95%;
}