.bottomRow,
.topRow {
	position: absolute;
	height: 45%;
	width: 100%;
	display: block;

	> .image {
		position: absolute;
		height: 100%;
		width: 100%;
		background-position: center; 
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0;
		//transition: opacity 0.5s ease;

		//transform: translateZ(0);
		//-webkit-transform: translateZ(0);

		&.-active {
			opacity: 1;
		}
	}
}
.bottomRowText,
.topRowText {
	position: absolute;
	height: 5%;
	width: 100%;
	top: 45%;

	display: flex;
	justify-content:center;
	align-content:center;
	flex-direction:column; 

	> h3 {
		color: white;
		text-align: center;
	}
}

.bottomRow {
	top: 50%;
}
.bottomRowText {
	top: 95%;
}

.countdown {
	position: fixed;
	bottom: 0%;
	right: 0%;
	color: white;
	font-size: x-small;
	padding-right: .5rem;
	padding-bottom: .5rem;
}